<a href="https://colab.research.google.com/github/ToluGb/19-electric-power/blob/ToluGb-data-preprocessing/Electric_Power_Data_Pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # for numerical computation
import pandas as pd # for data analysis and manipulation

In [2]:
from google.colab import files # for reading files from computer directory
uploaded = files.upload()

Saving household_power_consumption.txt to household_power_consumption.txt

In [10]:
# We read the file into a pandas DataFrame and view the dataset
df = pd.read_csv('household_power_consumption.txt', parse_dates=[['Date', 'Time']], delimiter=';', na_values=['nan','?'])
df.head()

            Date_Time  Global_active_power  ...  Sub_metering_2  Sub_metering_3
0 2006-12-16 17:24:00                4.216  ...             1.0            17.0
1 2006-12-16 17:25:00                5.360  ...             1.0            16.0
2 2006-12-16 17:26:00                5.374  ...             2.0            17.0
3 2006-12-16 17:27:00                5.388  ...             1.0            17.0
4 2006-12-16 17:28:00                3.666  ...             1.0            17.0

[5 rows x 8 columns]

**Data Preprocessing**

In [11]:
# To check the number of rows and columns (shape) of the dataset in the DataFrame
df.shape

(2075259, 8)

In [12]:
# To get information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date_Time              datetime64[ns]
 1   Global_active_power    float64
 2   Global_reactive_power  float64
 3   Voltage                float64
 4   Global_intensity       float64
 5   Sub_metering_1         float64
 6   Sub_metering_2         float64
 7   Sub_metering_3         float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 126.7 MB

In [13]:
# To check for missing values
df.isnull().sum()

Date_Time                    0
Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
dtype: int64

In [14]:
# Reset index to Date_Time
df = df.set_index('Date_Time')
df.head()

                     Global_active_power  ...  Sub_metering_3
Date_Time                                 ...
2006-12-16 17:24:00                4.216  ...            17.0
2006-12-16 17:25:00                5.360  ...            16.0
2006-12-16 17:26:00                5.374  ...            17.0
2006-12-16 17:27:00                5.388  ...            17.0
2006-12-16 17:28:00                3.666  ...            17.0

[5 rows x 7 columns]

In [15]:
# We use Backfill to replace the missing data in the dataset
for NaN in range(0,7):        
        df.iloc[:,NaN] = df.iloc[:,NaN].fillna(df.iloc[:,NaN].bfill())

In [16]:
# We verify again to ensure there are no more missing data
df.isnull().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64